* {
    --correct-color: green;
    --incorrect-color: red;
    
    margin: 2px;
}

.main-form{
    margin-bottom: 100px;
}

.task-container{
    border-radius: 4px;
    padding: 10px;
    background-color: #ebd694;
    margin: 4px;
}

.task-description{
    margin-bottom: 10px;
    font-weight: bold;
}

.task-description.correct {
    color: var(--correct-color);
}

.task-description.incorrect {
    color: var(--incorrect-color);
}

.task-options{
    display: flex;
    flex-direction: column;
}

.option-container{
    width: auto;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
    background-color: #eeb279;
}

.option{
    margin: 0px;
}

.option.correct {
    color: var(--correct-color);
    font-weight: bold;
}

.option.incorrect {
    color: var(--incorrect-color);
    font-weight: bold;
}
#quizSubmitButtonId{
    padding:10px;
    background-color: green;
    margin-top:10px;
    margin-left:20px;
    color: white;
    border-radius: 5px;
}